frameworks/emst/odd/amsterdam_list_place.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Amsterdam List Place</title>
                <author>Mike Olson (generated by Roma 4.10)</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.cohd.info/ns/amsterdam</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Monday 02nd September 2013 10:39:21 AM</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>Customization for the list of places in the Amsterdam project.</p>
            <schemaSpec ident="amsterdam_list_place" docLang="en" prefix="tei_" xml:lang="en">
                <moduleRef key="core"
                    except="abbr add binaryObject cb choice cit citedRange corr del distinct divGen emph expan foreign gap gb gloss graphic headItem headLabel hi index item l label lb lg list measure measureGrp media mentioned milestone num orig pb q quote reg relatedItem rs said sic soCalled sp speaker stage teiCorpus unclear"/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header" except="handNote scriptNote typeNote"/>
                <moduleRef key="textstructure"
                    except="argument back byline closer dateline div div1 div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition docImprint docTitle epigraph floatingText front group imprimatur opener postscript salute signed titlePage titlePart trailer"/>
                <moduleRef key="namesdates"
                    except="addName affiliation age birth death education event faith floruit forename genName langKnowledge langKnown listEvent listNym listOrg listPerson nameLink nationality nym occupation org orgName persName person personGrp relationGrp residence roleName sex socecStatus surname"/>
                <elementSpec ident="TEI" module="textstructure" mode="change">
                    <content xmlns:rng="http://relaxng.org/ns/structure/1.0">
                        <rng:group xmlns="http://relaxng.org/ns/structure/1.0">
                            <rng:ref name="teiHeader"/>
                            <rng:ref name="text"/>
                        </rng:group>
                    </content>
                </elementSpec>
                <elementSpec ident="text" module="textstructure" mode="change">
                    <content xmlns:rng="http://relaxng.org/ns/structure/1.0">
                        <rng:ref name="body"/>
                    </content>
                </elementSpec>
                <elementSpec ident="body" module="textstructure" mode="change">
                    <content xmlns:rng="http://relaxng.org/ns/structure/1.0">
                        <rng:ref name="listPlace"/>
                    </content>
                </elementSpec>
                <classSpec type="atts" ident="att.declarable" mode="delete"/>
                <classSpec type="atts" ident="att.declaring" mode="delete"/>
                <classSpec type="atts" ident="att.ranging" mode="delete"/> 
                <classSpec type="atts" ident="att.measurement" mode="delete"/>
                <classSpec type="atts" ident="att.datable.custom" mode="delete"/>
                <classSpec type="atts" ident="att.datable.iso" mode="delete"/>
            </schemaSpec>
        </body>
    </text>
</TEI>
